/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
  --foreground-color: #000;
  --background-color: #ffbb74;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #25211e;
  }
} */

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row > * {
  margin: 5px;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 340px;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 340px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px 12px 20px 20px;
  background-size: cover;
  background-position: center;
  float: left;
}

.cardGradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0000, #0000 75%, rgba(0, 0, 0, 0.75) 100%);
}

.swipe:last-of-type {

}

.grid {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.card .grid {
  margin: 5px 10px 5px 10px;
}

.grid .stripe {
  background-color: rgba(0, 0, 0, 0.25);
  height: 2px;
  border-radius: 1px;
}

.grid .stripe.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.card .bottomContent {
  position: absolute;
  bottom: 0;
  margin: 0 10px 20px 20px;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.card h3 {
  font-size: 16px;
  max-width: 216px;
  margin: 0;
}

.card .infoSymbol {
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-top: auto;
  margin-bottom: 3px;
}

.card p {
  max-width: 230px;
  margin: 6px 0 0 0;
  width: 100%;
  height: 14px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  /* color: #fff; */
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  /* color: #fff; */
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
